<!DOCTYPE html>
<html>
<head>
	<title>Titulo</title>
	<script type="text/javascript">
	const ROOM_ID = "<%- roomId -%>";
	</script>
	<script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  	<script src="/socket.io/socket.io.js" defer></script>
  	<script src="/js/script.js" defer></script>
</head>
<body>
<div id="videos">video</div>
</body>
</html>